# WEB SCRAPING SELENIUM - Assignment 2

In [1]:
pip install selenium

Collecting seleniumNote: you may need to restart the kernel to use updated packages.
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [1]:
import selenium
import pandas as pd
import time

from selenium import webdriver

In [2]:
# lets first connect to Web Driver
driver = webdriver.Chrome('chromedriver.exe')

In [3]:
driver.close()

In [134]:
# Then again we will open web Driver
driver = webdriver.Chrome('chromedriver.exe')

## Question 1:

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
# Finding elements for job search

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [7]:
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [8]:
# Specipying the url of webpage to be scraped

url = 'https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [9]:
# Lets open the webpage through web driver
driver.get(url)

In [10]:
job_titles = []
companies = []
experience = []
loc = []

titles_tags = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
comp_tags = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
experience_tags = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']/span[1]")
loc_tags = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

for i in titles_tags:
    job_titles.append(i.text)
    
for i in comp_tags:
    companies.append(i.text)

for i in experience_tags:
    experience.append(i.text)
    
for i in loc_tags:
    loc.append(i.text)

In [11]:
jobs = pd.DataFrame({})

jobs['title'] = job_titles[:10]
jobs['company'] = companies[:10]
jobs['experience'] = experience[:10]
jobs['location'] = loc[:10]

In [12]:
jobs

,title,company,experience,location
0,Senior Data Analyst,Decision Culture,4-9 Yrs,Bengaluru(Sector 1 HSR Layout)
1,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Sunstream Global Technologies LLP,0-3 Yrs,Bengaluru(Koramangala)
2,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,"Pune, Delhi, Bengaluru, Gurgaon"
3,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
4,Senior Data Analyst,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
5,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bengaluru
6,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,5-9 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
7,Business / Data Analyst,IBM India Pvt. Limited,2-4 Yrs,Bengaluru
8,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,2-4 Yrs,Bengaluru
9,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Bengaluru

## Question2 :

In [145]:
driver.get('https://www.naukri.com/')

In [146]:
# Finding elements for job search

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [147]:
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [148]:
# Specipying the url of webpage to be scraped

driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore')

In [149]:
titles_tags = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [150]:
job_links = [i.get_attribute("href") for i in titles_tags]

In [151]:
titles = []
company = []
description = []
locs = []
for job_link in job_links[:10]:
    driver.get(job_link)
    time.sleep(1)

    job_title = driver.find_element_by_xpath("//div[@class='jd-top-head']/header/h1").text
    titles.append(job_title)
    
    company_name = driver.find_element_by_xpath("//div[@class='jd-header-comp-name']/a").text
    company.append(company_name)
    
    des = driver.find_element_by_xpath("//section[@class='job-desc']//div[1]/p[2]").text
    description.append(des)
    
    loc = driver.find_element_by_xpath("//div[@class='loc']/span").text
    locs.append(loc)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='jd-top-head']/header/h1"}
  (Session info: chrome=88.0.4324.150)

In [47]:
description

['',
 'Requirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.']

In [30]:
DS_jobs = pd.DataFrame({})

DS_jobs['title'] = title[:10]
DS_jobs['company'] = company[:10]
DS_jobs['description'] = desc[:10]
DS_jobs['location'] = locs[:10]

NameError: name 'title' is not defined

In [46]:
DS_jobs

,title,company,experience,location
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,3-8 Yrs,Bengaluru
1,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Bengaluru
2,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,4-6 Yrs,Bengaluru
3,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,8-13 Yrs,Bengaluru
4,Data Scientist,Atos Syntel Private Limited,12-18 Yrs,"Chennai, Pune, Mumbai, Bengaluru"
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,12-20 Yrs,"Pune, Bengaluru"
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,12-20 Yrs,"Pune, Bengaluru"
7,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,3-8 Yrs,"Chennai, Pune, Bengaluru"
8,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,4-9 Yrs,"Bengaluru, Hyderabad"
9,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,2-7 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."

## Question 3:

In [20]:
driver.get('https://www.naukri.com/')

In [21]:
# Finding elements for job search

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [22]:
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [23]:
# Specipying the url of webpage to be scraped

driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore')

In [24]:
sal_filter = driver.find_element_by_id("chk-3-6 Lakhs-ctcFilter-")

In [25]:
driver.execute_script("arguments[0].click();", sal_filter)

In [26]:
driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore&ctcFilter=3to6')

In [27]:
loc = driver.find_element_by_id("chk-Delhi/NCR-cityType-")

In [28]:
driver.execute_script("arguments[0].click();", loc)

In [29]:
driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore&ctcFilter=3to6&cityType=25.9.31')

In [30]:
titles = []
company = []
experience = []
loc = []

titles_tags = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
comp_tags = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
experience_tags = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']/span[1]")
loc_tags = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

for i in titles_tags:
    titles.append(i.text)

for i in comp_tags:
    company.append(i.text)

for i in experience_tags:
    experience.append(i.text)

for i in loc_tags:
    loc.append(i.text)

In [31]:
jobs = pd.DataFrame({})

jobs['title'] = job_titles[:10]
jobs['company'] = company[:10]
jobs['experience'] = experience[:10]
jobs['location'] = loc[:10]

In [32]:
jobs

,title,company,experience,location
0,Senior Data Analyst,Country Veggie,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
1,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",BlackBuck,3-7 Yrs,"Bengaluru, Gurgaon"
2,Data Analyst - SAP,PEOPLE STAFFING SOLUTIONS,3-6 Yrs,"Pune, Bengaluru, Hyderabad, Gurgaon"
3,Hiring Data Analysts on Contract,HCL Technologies Limited,2-4 Yrs,"Chennai, Pune, Bengaluru, Hyderabad, Noida"
4,Senior Data Analyst,Trigent Software,4-6 Yrs,"Pune, Delhi NCR, Mumbai, Bengaluru, Gurgaon, N..."
5,Data Analyst,DataTrained,0-2 Yrs,"Bengaluru, Noida"
6,"Data Analyst -Azure Data lake, Azure Data factory",DataTrained,0-2 Yrs,"Bengaluru, Noida"
7,Business / Data Analyst,iQuest Management Consultants Pvt. Ltd,2-6 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
8,Data Analyst - O2C - Bangalore,Trigent Software,4-9 Yrs,"Pune, Delhi NCR, Mumbai, Bengaluru, Gurgaon, N..."
9,Intern Data Analyst,TeamPlus Staffing Solution Pvt Ltd,5-10 Yrs,"Delhi, Bengaluru"

## Question 4 :

In [135]:
driver.get('https://www.glassdoor.co.in/Job/index.htm')

In [136]:
# Finding elements for job search

search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys('Data Scientist')

search_loc = driver.find_element_by_id('LocationSearch')
search_loc.send_keys('Noida')

In [137]:
search_loc.clear()
search_loc.send_keys('Noida')

In [138]:
search_btn = driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [142]:
company = []
days = []
rating = []

comp_tags = driver.find_elements_by_xpath("//a[@class = ' css-l2wjgv e1n63ojh0 jobLink']")
days_tags = driver.find_elements_by_xpath("//div[@class = 'd-flex align-items-end pl-std css-mi55ob']")
rate_tags = driver.find_elements_by_xpath("//div[@class = 'd-flex flex-column css-x75kgh e1rrn5ka3']/span")

for i in comp_tags[:10]:
    company.append(i.text)

for i in days_tags[:10]:
    days.append(i.text.replace('+', '').replace('d', ''))

for i in rate_tags[:10]:
    rating.append(i.text)

In [143]:
GD_jobs = pd.DataFrame({})

GD_jobs['company'] = company
GD_jobs['no. of days'] = days
GD_jobs['rating'] = rating

In [144]:
GD_jobs

                                  company no. of days rating
0                               BlackRock           1    4.1
1                               BlackRock           1    4.1
2                         abc consultants           6    4.1
3                                   Adobe           8    4.4
4                          Biz2Credit Inc          14    3.7
5                                Brickred          25    3.9
6                         Priority Vendor           6    3.7
7                    Gauge Data Solutions           6    3.1
8                         Healtheoz India           6    4.8
9  Terra Economics & Analytics Lab (TEAL)           7    4.9

## Question 5:

In [40]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [41]:
# Finding elements for job search

search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys('Data Scientist')

search_loc = driver.find_element_by_id('LocationSearch')
search_loc.send_keys('Noida')

In [42]:
search_loc.clear()
search_loc.send_keys('Noida')

In [43]:
search_btn = driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [44]:
company = []
sal_days = []
avg_sal = []
min_sal = []
max_sal = []

comp_tags = driver.find_elements_by_xpath("//div[@class = 'd-flex']/div[2]/p[2]")
days_tags = driver.find_elements_by_xpath("//div[@class = 'd-flex']/div[2]/p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
avg_tags = driver.find_elements_by_xpath("//div[@class = 'col-2 d-none d-md-flex flex-row justify-content-end']/strong")
min_tags = driver.find_elements_by_xpath("//div[@class = 'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
max_tags = driver.find_elements_by_xpath("//div[@class = 'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")

for i in comp_tags[:10]:
    company.append(i.text)

for i in days_tags[:10]:
    sal_days.append(i.text)

for i in avg_tags[:10]:
    avg_sal.append(i.text)

for i in min_tags[:10]:
    min_sal.append(i.text)

for i in max_tags[:10]:
    max_sal.append(i.text)

In [45]:
GD_sal = pd.DataFrame({})

GD_sal['Company'] = company
GD_sal['No. of Salaries'] = sal_days
GD_sal['Average Salary'] = avg_sal
GD_sal['Min Salary'] = min_sal
GD_sal['Max Salary'] = max_sal

In [46]:
GD_sal

,Company,No. of Salaries,Average Salary,Min Salary,Max Salary
0,Delhivery,13 salaries,"₹ 12,64,182",₹450K,"₹11,630K"
1,Ericsson-Worldwide,12 salaries,"₹ 7,30,968",₹350K,"₹1,614K"
2,Tata Consultancy Services,11 salaries,"₹ 6,00,000",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143",₹793K,"₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989",₹576K,"₹1,500K"

## Question 6 :

In [93]:
driver.get('https://www.flipkart.com/')

In [94]:
# Finding elements for job search

search_job = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_job.send_keys('sunglasses')

In [95]:
search_btn = driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/button")
search_btn.click()

In [96]:
link = []
next_link = driver.find_elements_by_xpath("//nav[@class = 'yFHi8N']/a[@class = 'ge-49M']")
next_btn = driver.find_elements_by_xpath("//nav[@class = 'yFHi8N']/a[@class = '_1LKTO3']")

for k in next_btn:
    k.get_attribute('href')
for j in next_link:
    link.append(j.get_attribute('href'))

In [97]:
brand_list = []
descp = []
price = []
percent = []

for l in link:
    driver.get(l)
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    descp_tags = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    percent_tags = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

    for i in brand_tags:
        brand_list.append(i.text)

    for i in descp_tags:
        descp.append(i.text)

    for i in price_tags:
        price.append(i.text)

    for i in percent_tags:
        percent.append(i.text)

In [98]:
sunglasses = pd.DataFrame({})

sunglasses['Brand'] = brand_list[:100]
sunglasses['Description'] = descp[:100]
sunglasses['Price'] = price[:100]
sunglasses['Percent'] = percent[:100]

In [99]:
sunglasses

,Brand,Description,Price,Percent
0,I Flash,"Gradient, UV Protection Round Sunglasses (Free...",₹123,87% off
1,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹399,72% off
2,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
4,Adeeb sunglasses,UV Protection Retro Square Sunglasses (74),₹155,72% off
...,...,...,...,...
95,I Flash,"Gradient, UV Protection Round Sunglasses (50)",₹127,87% off
96,Gansta,"UV Protection, Night Vision, Riding Glasses Av...",₹311,84% off
97,Phenomenal,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
98,kingsunglasses,UV Protection Round Sunglasses (54),₹122,86% off
99,PIRASO,UV Protection Wayfarer Sunglasses (32),₹225,85% off

## Question 7:

In [62]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [63]:
review_link = driver.find_element_by_xpath("//div[@class='col JOpGWq']/a").get_attribute('href')

In [64]:
driver.get(review_link)

In [65]:
link = []
next_link = driver.find_elements_by_xpath("//nav[@class = 'yFHi8N']/a[@class = 'ge-49M']")

next_btn = driver.find_elements_by_xpath("//nav[@class = 'yFHi8N']/a[@class = '_1LKTO3']")

for k in next_btn:
    k.get_attribute('href')
for j in next_link:
    link.append(j.get_attribute('href'))

In [66]:
for i in range(11, 21):
    link.append('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page='+str(i))

In [67]:
summary = []
full_summary = []
rate= []
for l in link:
    driver.get(l)
    summ = driver.find_elements_by_xpath("//p[@class = '_2-N8zT']")
    full_summ = driver.find_elements_by_xpath("//div[@class = 't-ZTKy']/div/div")
    rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

    for i in summ:
        summary.append(i.text)

    for i in full_summ:
        full_summary.append(i.text)

    for i in rating:
        rate.append(i.text)

In [68]:
iphone = pd.DataFrame({})

iphone['Review_Summary'] = summary[:100]
iphone['Full Review'] = full_summary[:100]
iphone['rating'] = rate[:100]

In [69]:
iphone

,Review_Summary,Full Review,rating
0,Perfect product!,Iphone is just awesome.. battery backup is ver...,5
1,Terrific,Really worth of money. i just love it. It is t...,5
2,Must buy!,It’s an amazing product from apple and the cam...,5
3,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...,5
4,Mind-blowing purchase,This will help you more. See if you are planni...,5
...,...,...,...
95,Perfect product!,Nice phone to buy with such offers its worth i...,4
96,Good choice,One of my Fav Brand Apple and the Iphone 11 wa...,3
97,Slightly disappointed,Have been owning a Oneplus 5T for 3 years now\...,5
98,Good,It is good but have some issues like apple i.d...,5
99,Worth every penny,iPhone is delivered on time. Display is great ...,5

## Question 8 :

In [70]:
driver.get('https://www.flipkart.com/')

In [71]:
# Finding elements for job search

search_job = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_job.send_keys('sneakers')

In [72]:
search_btn = driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/button")
search_btn.click()

In [73]:
link = []
next_link = driver.find_elements_by_xpath("//nav[@class = 'yFHi8N']/a[@class = 'ge-49M']")
next_btn = driver.find_elements_by_xpath("//nav[@class = 'yFHi8N']/a[@class = '_1LKTO3']")

for k in next_btn:
    k.get_attribute('href')
for j in next_link:
    link.append(j.get_attribute('href'))

In [74]:
brand_list = []
descp = []
price = []
percent = []

for l in link:
    driver.get(l)
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    descp_tags = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    percent_tags = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

    for i in brand_tags:
        brand_list.append(i.text)

    for i in descp_tags:
        descp.append(i.text)

    for i in price_tags:
        price.append(i.text)

    for i in percent_tags:
        percent.append(i.text)

In [75]:
sneakers = pd.DataFrame({})

sneakers['Brand'] = brand_list[:100]
sneakers['Description'] = descp[:100]
sneakers['Price'] = price[:100]
sneakers['Percent'] = percent[:100]

In [76]:
sneakers

,Brand,Description,Price,Percent
0,Skechers,SUMMITS - BRISBANE Sneakers For Men,"₹2,794",35% off
1,Zsyto,Sneakers For Men,₹345,73% off
2,SCATCHITE,Sneakers Sneakers For Men,₹419,58% off
3,Red Tape,Sneakers For Men,"₹1,288",70% off
4,Airland,shoe Sneakers For Men,₹258,48% off
...,...,...,...,...
95,Fzzirok,Premium quality Sneakers For Men,₹420,73% off
96,Kizaar,"Fashionable Casual, Canvas,official or Partywe...",₹426,62% off
97,Jokatoo,Sneakers For Men,₹398,59% off
98,Deals4you,Sneakers For Men,₹379,42% off
99,Bonexy,Sneakers For Men,₹404,68% off

## Question 9 :

In [77]:
driver.get('https://www.myntra.com/shoes')

In [78]:
price_filter = driver.find_element_by_xpath("//ul[@class = 'price-list']/li[2]/label/input")

In [79]:
driver.execute_script("arguments[0].click();", price_filter)

In [80]:
driver.get('https://www.myntra.com/shoes?plaEnabled=false&rf=Price%3A5312.0_10475.0_5312.0%20TO%2010475.0')

In [81]:
color_filter = driver.find_element_by_xpath("//span[@data-colorhex = 'black']")

In [82]:
driver.execute_script("arguments[0].click();", color_filter)

In [83]:
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5312.0_10475.0_5312.0%20TO%2010475.0')

In [84]:
link = []
next_link = driver.find_elements_by_xpath("//li[@class = 'pagination-number']/a")
for j in next_link:
    link.append(j.get_attribute('href'))

In [85]:
brand = []
descp = []
price = []

for i in link[:3]:
    driver.get(i)
    brand_tags = driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h3")
    descp_tags = driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h4")
    price_tags = driver.find_elements_by_xpath("//div[@class = 'product-price']/span")

    for i in brand_tags:
        brand.append(i.text)

    for i in descp_tags:
        descp.append(i.text.replace('\n', ''))

    for i in price_tags:
        price.append(i.text)

In [86]:
price = [i for i in price if '%' not in i]

In [87]:
price = [i.replace('Rs. ', ' ') for i in price ]

In [88]:
price = [i.strip() for i in price]

In [89]:
price = [i.split()[0] for i in price]

In [90]:
descp = [x for x in descp if x != '']

In [91]:
black_shoes = pd.DataFrame({})

black_shoes['Brand'] = brand[:100]
black_shoes['Description'] = descp[:100]
black_shoes['Price'] = price[:100]

In [92]:
black_shoes

                   Brand                        Description Price
0           Kenneth Cole   Men Solid Leather Formal Oxfords  5803
1                   Geox           Women Leather Ballerinas  8499
2                 ADIDAS     Men ALPHATORSION Running Shoes  7499
3           Kenneth Cole   Men Solid Leather Formal Oxfords  9513
4                   Nike               Men REPOSTO Sneakers  5436
..                   ...                                ...   ...
95                Clarks         Men Leather Formal Loafers  6999
96          Hush Puppies                      Women Sandals  5999
97  Heel & Buckle London         Women Leather Heeled Boots  5593
98          Kenneth Cole          Women Leather Block Heels  5593
99          Hush Puppies  Men Solid Leather Formal Slip-Ons  8999

[100 rows x 3 columns]

## Question 10 :

In [122]:
driver.get('https://www.amazon.in/')

In [123]:
search_job = driver.find_element_by_id('twotabsearchtextbox')
search_job.send_keys('Laptop')

In [124]:
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [125]:
i7_filter = driver.find_element_by_xpath("//li[@aria-label= 'Intel Core i7']/span/a")

In [126]:
driver.execute_script("arguments[0].click();", i7_filter)

In [127]:
i9_filter = driver.find_element_by_xpath("//li[@aria-label= 'Intel Core i9']/span/a")

In [128]:
driver.execute_script("arguments[0].click();", i9_filter)

In [129]:
brand = []
rating = []
price = []

brand_tags = driver.find_elements_by_xpath("//span[@class = 'a-size-medium a-color-base a-text-normal']")
rate_tags = driver.find_elements_by_xpath('//span [@class="a-icon-alt"]')
price_tags = driver.find_elements_by_xpath("//span[@class = 'a-price-whole']")

for i in brand_tags[:10]:
    brand.append(i.text)

for i in rate_tags[:15]:
    rating.append(i.get_attribute('innerHTML'))

for i in price_tags[:10]:
    price.append(i.text)

In [130]:
laptop = pd.DataFrame({})

laptop['Brand'] = brand[:10]
laptop['Rating'] = rating[4:14]
laptop['Price'] = price[:10]

In [131]:
laptop

,Brand,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"50,999"
1,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,4.2 out of 5 stars,"88,990"
2,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.5 out of 5 stars,"74,990"
3,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,2.7 out of 5 stars,"1,97,200"
4,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5.0 out of 5 stars,"2,68,325"
5,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.0 out of 5 stars,"75,482"
6,Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...,3.8 out of 5 stars,"76,990"
7,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,3.3 out of 5 stars,"1,09,990"
8,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,4.2 out of 5 stars,"5,22,077"
9,i7 Laptop FeedMe15.6 Inch 4500U Laptop 16GB RA...,1.8 out of 5 stars,"54,410"

In [152]:
driver.close()